#!/usr/bin/env bash

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"

alias ls='lsd'
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'
alias ll='ls -lah'
alias dir='ls -lah'

alias tree='tree -A -N'
alias treed='tree -d -N'
alias tree1='tree -d -N -L 1'
alias tree2='tree -d -N -L 2'

alias d="cd ~/develop"
alias downloads="cd ~/Downloads"
alias desktop="cd ~/Desktop"

alias vi='vim'
alias zshconfig='vim ~/.zshrc'

alias sudo='sudo '
alias reload="exec ${SHELL} -l"
alias path='echo -e ${PATH//:/\\n}'

alias mv='mv -iv'
alias rm='trash'
alias cp='cp -iv'
alias ln='ln -i'

alias c='clear'
alias cls='clear'

alias hc='history -c'
alias hgrep='history | grep'

alias df='df -h'
alias free='free -m'
alias lsof='sudo lsof -i | grep LISTEN'
alias cpu='top -R -F -s 1 -o cpu'
alias mem='top -R -F -s 1 -o rsize'

alias ni='npm install'
alias nr='npm run'
alias pip='pip3'

alias brewc='brew cleanup'
alias brewu='brew update; brew upgrade; brew prune; brew cleanup; brew doctor'
alias update='brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update -n /usr/local/bin --system; sudo gem cleanup'

alias week='date +%V'
alias tq="curl 'wttr.in/西安?lang=zh'"

alias ip="curl icanhazip.com"
alias localip="ipconfig getifaddr en0"
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

psx() { ps -ax | grep -v grep | grep "$@"; }

mk() {
  mkdir -p "$@" && cd "$@"
}

transfer() {
    tmpfile=$( mktemp -t transferXXX )
    curl --progress-bar --upload-file $1 https://transfer.sh/$(basename $1) >> $tmpfile;
    cat $tmpfile;
    rm -f $tmpfile;
}
